<div class="header__left">
  <div class="title">
    <div class="title__logo">
      <div class="title__logo_wrench"></div>
      <div class="title__logo_hit"></div>
    </div>
    <p class="title__name">Nonograms<span>(wrenched)</span></p>
  </div>
</div>
<!-- 
<div class="header__middle">
  <nav class="menu">
    <ul>
      <li class="menu__item link">New</li>
      <li class="menu__item link">Editor</li>
      <li class="menu__item link">Records</li>
      <li class="menu__item link">About</li>
    </ul>
  </nav>
</div>
 -->
<div class="header__right">
  <div class="language">
    <div class="language__icon"></div>
    <select class="language__select">
      <option value="en">EN</option>
      <option value="ru">RU</option>
    </select>
  </div>
  <div class="theme">
    <input class="theme__switcher" type="checkbox" />
  </div>
</div>
