:root {
  --color00: #fff;
  --color10: #dae4f3;
  --color15: #becde4;
  --color20: #94a4bd;
  --color30: #7e8da3;
  --color40: #747c99;
  --color50: #5d6379;
  --color60: #3b4557;
  --color70: #3b4557;
  --color80: #2c3340;
  --color90: #17212b;
  --color100: #000;
}

.theme__dark {
  --color00: #000;
  --color10: #0e1621;
  --color15: #17212b;
  --color20: #222e46;
  --color30: #2b5278;
  --color40: #4a5972;
  --color50: #4078af;
  --color60: #3998d3ff;
  --color70: #5ab3f0ff;
  --color80: #8df;
  --color90: #cef;
  --color100: #fff;
}
