.theme {
  position: relative;
  appearance: none;
  box-sizing: content-box;
  padding: 2px;
  width: 2.2rem;
  height: 1.1rem;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: var(--color50);

  &::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(0.05rem + 2px);
    left: calc(0.05rem + 2px);
    background-repeat: no-repeat;
    background-image: url('../public/crescent-moon.svg');
    background-size: 1rem;
    z-index: 0;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(0.05rem + 2px);
    right: calc(0.05rem + 2px);
    background-repeat: no-repeat;
    background-image: url('../public/sun-shape.svg');
    background-size: 1rem;
    z-index: 0;
  }
}

.theme__switcher {
  position: absolute;
  margin: 0;
  outline: none;
  appearance: none;
  width: 2.2rem;
  height: 1.1rem;
  cursor: pointer;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1rem;
    background-color: var(--color20);
    transition: transform 0.2s linear;
  }

  &:checked::after {
    transform: translateX(1.1rem);
  }
}
