<div class="author">
  <p>© 2022</p>
  <a href="https://github.com/mrHoft">
    <img src="./ranjy_hex.png" width="32" height="32" alt="" />
    <span>mrHoft</span>
  </a>
</div>
<a class="rss__logo" href="https://rs.school/"></a>
